<% @user.followers.each do |user| %>
  <td><%= user.name %> </td>
    <% if user.image? %>
  <td><%= link_to image_tag(user.image.url, size: '100x100'), user_path(user)  %> </td>
    <% end%>
<% end %>
  <br><%= link_to '戻る', @user %>